<app-header [showBackButton]="!mainPage" titulo="secciones"></app-header>
<ion-segment scrollable mode="md">
  <ion-segment-button *ngFor="let section of sections"
                      value="{{section.section.toLowerCase()}}"
                      (click)="goToSection(section.section)">
    {{section.section.toUpperCase()}}
  </ion-segment-button>
</ion-segment>

<ion-content [fullscreen]="false">

  <ion-list>
    <ion-card *ngFor="let noticia of noticiasAux" (click)="openDetails(noticia)">
      <ion-card-header>
        <ion-img src="{{noticia.images[0]}}"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>{{ noticia.title }}</ion-card-title>
        <ion-card-subtitle>{{ noticia.author }}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loading-spinner="crescent"
      loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToBuscar()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
